services:
    ubuntu:
        build: .
        container_name: ubuntu_practice
        stdin_open: true # Equivalent to -i in docker run
        tty: true # Equivalent to -t in docker run, allocates a pseudo-TTY
        volumes:
            - ./app/:/app/
